.Button {
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.secondary {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.disabled {
  opacity: .7;
}
